**/.DS_Store
**/.vscode/
**/.idea/
**/*.iml
**/*.log
**/.classpath
**.project
**/target/
**/node_modules/
**/*.map
**/.nyc_output/
**/coverage/
**/coverage.html
**/govuk_modules/
**/public/
**/report.xml
**/node
**/*.tgz
**/package
